<table border="1" cellpadding="1" cellspacing="1">
	<tr>
    <th>ID</th>
    <th>UserName</th> 
    <th>FileName</th>
    <th>Time Upload</th>
  </tr>
    {% for row in data %}
        <tr>
        {% for d in row %}
        	{% if loop.index==3 %}
        		<td><a href="{{ url_for('download_file',filename=d) }}" download>{{ d }}</a></td>
        	{% else %}
        		<td>{{ d }}</td>
			{% endif %}        		
        {% endfor %}
        </tr>
    {% endfor %}
</table>

