{% if sessionid=="" %}
	
{% else %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload File</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/upload.css') }}">
<!--===============================================================================================-->
</head>
<body>
        <header>
            <h2>You're logged in already! {{ sessionid }}</h2>
        </header>
        <div class="container">
            <div class="contr"><h2>You can select the file and click Upload button</h2></div>

            <div class="upload_form_cont">
                <form id="upload_form" enctype="multipart/form-data" method="post" action="{{ url_for('upload_file',username_upload = sessionid) }}">
                    <div>
                        <div><label for="image_file">Please select file</label></div>
                        <div><input type="file" name="file" id="image_file" onchange="fileSelected();" /></div>
                    </div>
                    <div>
                        <input type="submit" value="Upload"/>
                    </div>
                    <div id="fileinfo">
                        <div id="filename"></div>
                        <div id="filesize"></div>
                        <div id="filetype"></div>
                        <div id="filedim"></div>
                    </div>
                    <div id="progress_info">
                        <div id="progress"></div>
                        <div id="progress_percent">&nbsp;</div>
                        <div class="clear_both"></div>
                        <div>
                            <div id="speed">&nbsp;</div>
                            <div id="remaining">&nbsp;</div>
                            <div id="b_transfered">&nbsp;</div>
                            <div class="clear_both"></div>
                        </div>
                        <div id="upload_response"></div>
                    </div>
                    <a href="{{ url_for('show') }}">Download</a>
                </form>
            </div>
        </div>
        
    </body>
</html>
{% endif %}